.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }
.app{
    width: 450px;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.appLeft{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.appRight{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.specialButtons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.numberButtons{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2.5%;
}

.operatorButton{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

.op-btn{
    line-height: 4.5rem;
    font-size: 2rem;
    border-radius: 250px;
    background-color: white;
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}



.num-btn{
    line-height: 4.5rem;
    font-size: 2rem;
    border-radius: 250px;
    background-color: darkblue;
    color: white;
    width: 28%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}

.special-btn{
    width: 28%;
    line-height: 4.5rem;
    font-size: 2rem;
    border-radius: 250px;
    background-color: royalblue;
    color: white;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}